
.menu{

    width: 100%;
    display: flex;
    background-color: plum;
    justify-content: space-around;
    align-items: center;
    
    
    
    }
    .menuitem{
        padding: 30px;
        color: white;
        font-size: larger;
        text-decoration: none
        ;
    }
    .menuitems{
       display: flex;
       flex-wrap: nowrap;
    }
    .menuitem:hover{
        
        color: red;
        
       
    }
    .logo{
        width: 8%;
    }
.body{
    width: 1170px;
    margin: 0 auto;
}
.bs{ padding: 20px;
    display: flex;
    justify-content: space-around;
    border: 1px solid red;
    align-items: flex-start;
    width: 50%;
    margin: 10px auto;
}
.bs1{
    background-color: black; padding: 40px;
}
.bs2{
    background-color: black;padding: 40px;
}
.bs3{
    background-color: black;padding: 40px;
}



    @media screen and (max-width: 600px) {
        
        .logo{
            width: 30%;
            
            
        }
        
        
        .menu{flex-direction: column;}
      }
      
      