.task1__div-parent{
    height: 200px;
    width: 600px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.task2__div-parent{
    border: black 2px solid;
    width: 500px;
    display: flex;
    justify-content: center;

}
.div-child{
    border: solid 3px red;
    background-color: green; padding: 30px;
}
.task2__div-child{

margin-left: 5px ;
margin-right: 5px;

}
.task3__div-parent{
    border: black 2px solid;
    width: 700px;
    display: flex;
    justify-content: space-between;

}
.task4__div-parent{
    border: black 2px solid;
    width: 700px;
    display: flex;
    justify-content: space-around;

}
.task6__div-parent{
    width: 600px;
    height: 400px;
    border: 1px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
}
.task7 > .task6__div-parent{
  justify-content: space-between;  
}

.task7 >.div1{
    align-self: flex-start;
}
.task7 >.div3{
    align-self: flex-end;
}
.task8 > .task6__div-parent{
    flex-direction: column;
  }
  .task9 > .task6__div-parent{
    flex-direction: column;
    justify-content: space-between;
  }
  .task10 > .task6__div-parent{
    align-items: flex-start;
    flex-direction: column;
  }
 .div2{
align-self: center;
  }
  .task11__div-parent{
      width: 500px;
      
      border: 1px solid grey;
      background-color: darkgrey;
      display: flex;
      justify-content: space-around;
  }
  .task11__div-child{

padding: 30px;
background-color: lightblue;
font-size: 30px;


  }
  .task11__div-child2{
      background-color: pink;
  }
  .o1 > .task11__div-child1{
      order: 2;
  }
  .o1 > .task11__div-child2{
    order: 1;
}
.o1 > .task11__div-child3{
    order: 3;
}
.o1 > .task11__div-child4{
    order: 4;
}
.o1 > .task11__div-child5{
    order: 5;
}
.o2 > .task11__div-child1{
    order: 2;
}
.o2 > .task11__div-child2{
  order: 3;
}
.o2 > .task11__div-child3{
  order: 1;
}
.o2 > .task11__div-child4{
  order: 4;
}
.o2 > .task11__div-child5{
  order: 5;
}
.menu{

width: 100%;
display: flex;
background-color: plum;
justify-content: space-around;
align-items: center;



}
.menuitem{
    padding: 30px;
    color: white;
    font-size: larger;
    text-decoration: none
    ;
}
.menuitems{
   display: flex;
   flex-wrap: nowrap;
}
.menuitem:hover{
    
    color: red;
    
   
}
.logo{
    width: 10%;
}
@media screen and (max-width: 600px) {
    
    .logo{
        width: 30%;
        
        
    }
    
    
    .menu{flex-direction: column;}
  }
  